<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button href="/publicacion" aria-label="close">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="font-title-size centered-title" color="primario">Mi perfil</ion-title>
        <ion-buttons slot="end">
            <ion-button href="/editar-perfil" aria-label="save">
                <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="perfil-content" *ngIf="perfil">
    <!-- Sección de la foto de perfil y nombre -->
    <ion-grid class="perfil-grid">
        <ion-row class="perfil-row">
            <ion-col size="12" class="perfil-header">
                <ion-avatar class="perfil-avatar">
                    <img [src]="perfil.imagenUrlPerfil ? perfil.imagenUrlPerfil : 'https://picsum.photos/500/300?random=1'" alt="Foto de perfil" />
                </ion-avatar>
                <ion-label class="perfil-usuario font-inter">{{ perfil.nombreUsuario }}</ion-label>
            </ion-col>
        </ion-row>

        <!-- Biografía -->
        <ion-row class="perfil-row">
            <ion-col size="12">
                <p class="perfil-descripcion">
                    {{ perfil.biografia }}
                </p>
            </ion-col>
        </ion-row>

        <!-- Estadísticas -->
        <ion-row class="perfil-stats font-amatic">
            <ion-col>
                <ion-label class="perfil-stat">
                    100 <br> Seguidos
                </ion-label>
            </ion-col>
            <ion-col>
                <ion-label class="perfil-stat">
                    200 <br>Seguidores
                </ion-label>
            </ion-col>
            <ion-col>
                <ion-label class="perfil-stat">
                    10
                    <br>Eventos
                </ion-label>
            </ion-col>
        </ion-row>

        <!-- Reputación -->
        <ion-row class="perfil-reputacion font-amatic text-bold">
            <ion-col>
                <ion-label>
                    Reputación: {{ perfil.puntajeTotal }}
                    <ion-icon name="star-outline" class="reputacion-icon"></ion-icon>
                    <ion-icon name="trophy-outline" color="warning"></ion-icon>
                </ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- Título Detalles -->
    <ion-row class="perfil-row font-amatic">
        <ion-col size="12">
            <h2 class="perfil-detalles-titulo">Detalles</h2>
        </ion-col>
    </ion-row>

    <!-- Datos adicionales -->
    <ion-row class="perfil-row">
        <ion-col size="12">
            <ion-label class="perfil-nombre font-inter">{{ perfil.nombre }} {{ perfil.apellidos }}</ion-label>
        </ion-col>
    </ion-row>
    <ion-row class="perfil-info font-inter">
        <ion-col *ngIf="perfil.genero">
            <ion-label class="perfil-info-item">
                <strong>  Género: </strong>{{ perfil.genero }}
            </ion-label>
        </ion-col>
        <ion-col *ngIf="perfil.pais">
            <ion-label class="perfil-info-item">
                <strong>  País:  </strong> {{ perfil.pais }}
            </ion-label>
        </ion-col>
    </ion-row>
    <ion-row class="perfil-info font-inter">
        <ion-col *ngIf="perfil.fechaNacimiento">
            <ion-label class="perfil-info-item">
            <strong>    Fecha de Nacimiento:  </strong> {{ perfil.fechaNacimiento }}
            </ion-label>
        </ion-col>
    </ion-row>

    <!-- Sección de tabs y publicaciones -->
  <ion-segment value="publicaciones" class="perfil-tabs" color="secundario">
    <ion-segment-button value="eventos" (click)="cargarPublicaciones()">Eventos</ion-segment-button>
    <ion-segment-button value="etiquetado" (click)="cargarPublicacionesCompartidas()">Compartido</ion-segment-button>
  </ion-segment>

  <ion-grid class="publicaciones-grid">
    <ion-row>
      <ion-col size="6" *ngFor="let post of publicaciones">
        <ion-card class="publicacion-card" (click)="onProfileClick(post)">
          <img [src]="post.imagenUrlPub ? post.imagenUrlPub : 'https://picsum.photos/500/300?random=1'" alt="Publicación" />
          <ion-card-header>
            <ion-card-title>{{ post.titulo }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ post.descripcion }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
