<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meetify - Inicio de Sesión</title>
</head>
<body style="background-color: #cce7ff;">
<div class="container auth-container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-12 col-lg-12 col-sm-12 text-center">
      <div class="auth-box" style="background-color: #ffffff; border-radius: 20px; padding: 50px; max-width: 800px; margin: auto;">
        <div class="logo">
          <img src="assets/icon/Logo.png" alt="Meetify Logo" class="img-fluid" width="100" height="100">
        </div>

        <h1>{{ Logeado ? 'Inicio sesión' : Registrado ? 'Registro' : Recuperado ? 'Recupera tu cuenta' : 'Confirmar tu cuenta' }}</h1>

        <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
          <ng-container *ngIf="Logeado; else otherForms">
            <!-- Inicio de sesión -->
            <div class="form-group">
              <ion-label position="floating">Correo electrónico</ion-label>
              <ion-item class="w-100">
                <ion-input
                  type="email"
                  placeholder="Introduce tu correo"
                  formControlName="email"
                  class="form-control"
                ></ion-input>
              </ion-item>
            </div>

            <div class="form-group">
              <ion-label position="floating">Contraseña</ion-label>
              <ion-item class="w-100">
                <ion-input
                  type="password"
                  placeholder="Introduce tu contraseña"
                  formControlName="contrasena"
                  class="form-control"
                ></ion-input>
              </ion-item>
            </div>

            <ion-button expand="block" type="submit" class="btn btn-primary w-100">Iniciar sesión</ion-button>
            <div class="forgot-password mt-3">
              <p>¿Olvidaste tu contraseña? <a (click)="toggleAuthMode('recuperacion')">RECUPERALA</a></p>
            </div>
            <div class="switch-auth mt-3">
              <p>¿No tienes cuenta? <a (click)="toggleAuthMode('registro')">REGÍSTRATE</a></p>
            </div>
          </ng-container>

          <ng-template #otherForms>
            <ng-container *ngIf="Registrado; else recoverOrConfirmForm">

              <!-- Registro -->
              <div class="form-group">
                <ion-label position="floating">Nombres</ion-label>
                <ion-item class="w-100">
                  <ion-input
                    type="text"
                    formControlName="firstName"
                    class="form-control"
                    placeholder="Pon tu nombre"
                  ></ion-input>
                </ion-item>
              </div>

              <div class="form-group">
                <ion-label position="floating">Apellidos</ion-label>
                <ion-item class="w-100">
                  <ion-input
                    type="text"
                    formControlName="lastName"
                    class="form-control"
                    placeholder="Pon tus apellidos"
                  ></ion-input>
                </ion-item>
              </div>

              <div class="form-group">
                <ion-label position="floating">Correo electrónico:</ion-label>
                <ion-item class="w-100">
                  <ion-input
                    type="email"
                    formControlName="email"
                    class="form-control"
                    placeholder="Pon tu correo"
                  ></ion-input>
                </ion-item>
              </div>

              <div class="form-group">
                <ion-label position="floating">Contraseña:</ion-label>
                <ion-item class="w-100">
                  <ion-input
                    type="password"
                    formControlName="contrasena"
                    class="form-control"
                    placeholder="Pon tu contraseña"
                  ></ion-input>
                </ion-item>
              </div>

              <ion-button expand="block" type="submit" class="btn btn-dark w-100">Registrarse</ion-button>
            </ng-container>

            <ng-template #recoverOrConfirmForm>
              <ng-container *ngIf="Recuperado; else confirmForm">
                <!-- Recupera tu cuenta -->
                <div class="form-group">
                  <ion-label position="floating">Correo electrónico:</ion-label>
                  <ion-item class="w-100">
                    <ion-input
                      type="email"
                      formControlName="email"
                      class="form-control"
                      placeholder="Introduce tu correo"
                    ></ion-input>
                  </ion-item>
                </div>

                <ion-button expand="block" type="submit" class="btn btn-dark w-100" (click)="toggleAuthMode('confirmar')">Continuar</ion-button>

                <p style="color: black">* Recibirás un correo con un número PIN que tendrás que poner</p>
              </ng-container>

              <ng-template #confirmForm>
                <!-- Confirmar tu cuenta -->
                <div class="form-group">
                  <ion-label position="floating">Hemos enviado un codigo a tu direccion de correo electrónico. <br>Introdúcelo para confirmar tu cuenta</ion-label>
                  <ion-item class="w-100">
                    <ion-input
                      type="text"
                      formControlName="codigo"
                      class="form-control"
                      placeholder="Introduce el código de 6 dígitos"
                    ></ion-input>
                  </ion-item>
                </div>

                <ion-button expand="block" type="submit" class="btn btn-dark w-100">Continuar</ion-button>

                <p style="color: red; text-align: center; cursor: pointer;" (click)="reenviarCodigo()">Volver a enviar código</p>
              </ng-template>
            </ng-template>
          </ng-template>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
