<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meetify - Inicio de Sesión</title>
</head>
<body style="background-color: #cce7ff;">
<div class="container auth-container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-12 col-lg-12 col-sm-12 text-center">
      <div class="auth-box" style="background-color: #ffffff; border-radius: 20px; padding: 30px; max-width: 800px; margin: auto;">
        <div class="logo">
          <img ngSrc="assets/Meetify.svg" alt="Meetify Logo" class="img-fluid" width="260" height="260">
        </div>

        <h1>{{ Logeado ? 'Inicio sesión' : Registrado ? 'Registro' : Recuperado ? 'Recupera tu cuenta' : Confirmado ? 'Confirmar tu cuenta' : 'Cambio de contraseña' }}</h1>

        <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
          <ng-container *ngIf="Logeado; else otherForms">
            <!-- Inicio de sesión -->
            <div class="form-group">
              <ion-label position="floating">Usuario o Correo</ion-label>
              <ion-item class="w-100">
                <ion-input type="text" placeholder="Usuario o Correo" formControlName="usuario" class="form-control" required></ion-input>
              </ion-item>
            </div>

            <div class="form-group">
              <ion-label position="floating">Contraseña</ion-label>
              <ion-item class="w-100">
                <ion-input type="password" placeholder="Introduce tu contraseña" formControlName="contrasenia" class="form-control" required></ion-input>
              </ion-item>
            </div>

            <ion-button expand="block" type="submit" class="btn btn-primary w-100" (click)="verificarCamposLogin()">Iniciar sesión</ion-button>

            <ion-modal
              trigger="open-modal"
              [initialBreakpoint]="0.15"
              [breakpoints]="[0, 0.25, 0.5, 0.75]"
              handleBehavior="cycle"
              [isOpen]="modalAbierto"
              (didDismiss)="cerrarModal()"
            >
              <ng-template>
                <ion-content class="ion-padding center-content">
                  <div class="ion-margin-top" style="text-align: center; color: red;">
                    <ion-label>{{ mensajeModal }}</ion-label>
                  </div>
                </ion-content>
              </ng-template>
            </ion-modal>

            <div class="forgot-password mt-3">
              <p>¿Olvidaste tu contraseña? <a (click)="toggleAuthMode('recuperacion')">RECUPERALA</a></p>
            </div>
            <div class="switch-auth mt-3">
              <p>¿No tienes cuenta? <a (click)="toggleAuthMode('registro')">REGÍSTRATE</a></p>
            </div>
          </ng-container>

          <ng-template #otherForms>
            <ng-container *ngIf="Registrado; else recoverOrConfirmForm">
              <!-- Registro -->
              <div class="form-group">
                <ion-label position="floating">Nombre de usuario</ion-label>
                <ion-item class="w-100">
                  <ion-input type="text" formControlName="usuario" class="form-control" placeholder="Pon tu nombre de usuario" required></ion-input>
                </ion-item>
              </div>

              <div class="form-group">
                <ion-label position="floating">Nombres</ion-label>
                <ion-item class="w-100">
                  <ion-input type="text" formControlName="firstName" class="form-control" placeholder="Pon tu nombre" required></ion-input>
                </ion-item>
              </div>

              <div class="form-group">
                <ion-label position="floating">Apellidos</ion-label>
                <ion-item class="w-100">
                  <ion-input type="text" formControlName="lastName" class="form-control" placeholder="Pon tus apellidos" required></ion-input>
                </ion-item>
              </div>

              <div class="form-group">
                <ion-label position="floating">Fecha de nacimiento:</ion-label>
                <ion-item class="w-100">
                  <ion-input type="date" formControlName="fecha" class="form-control" placeholder="Pon tu fecha de nacimiento" required></ion-input>
                </ion-item>
              </div>

              <div class="form-group">
                <ion-label position="floating">Correo electrónico:</ion-label>
                <ion-item class="w-100">
                  <ion-input type="email" formControlName="email" class="form-control" placeholder="Pon tu correo" required></ion-input>
                </ion-item>
              </div>

              <div class="form-group">
                <ion-label position="floating">Contraseña:</ion-label>
                <ion-item class="w-100">
                  <ion-input type="password" formControlName="contrasenia" class="form-control" placeholder="Pon tu contraseña" required></ion-input>
                </ion-item>
              </div>

              <ion-button expand="block" type="submit" class="btn btn-dark w-100" (click)="verificarCamposRegistro()">Registrarse</ion-button>

              <ion-modal
                trigger="open-modal"
                [initialBreakpoint]="0.10"
                [breakpoints]="[0, 0.25, 0.5, 0.75]"
                handleBehavior="cycle"
                [isOpen]="modalAbierto"
                (didDismiss)="cerrarModal()"
              >
                <ng-template>
                  <ion-content class="ion-padding center-content">
                    <div class="ion-margin-top center-content" style="text-align: center; color: red;">
                      <ion-label>{{ mensajeModal }}</ion-label>
                    </div>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </ng-container>

            <ng-template #recoverOrConfirmForm>
              <ng-container *ngIf="Recuperado; else confirmForm">
                <!-- Recupera tu cuenta -->
                <div class="form-group">
                  <ion-label position="floating">Usuario o Correo</ion-label>
                  <ion-item class="w-100">
                    <ion-input type="text" formControlName="usuario" class="form-control" placeholder="Introduce tu correo electronico" required></ion-input>
                  </ion-item>
                </div>

                <ion-button expand="block" type="submit" class="btn btn-dark w-100" (click)="verificarCamposRecuperacion()">Continuar</ion-button>

                <ion-modal
                  trigger="open-modal"
                  [initialBreakpoint]="0.10"
                  [breakpoints]="[0, 0.25, 0.5, 0.75]"
                  handleBehavior="cycle"
                  [isOpen]="modalAbierto"
                  (didDismiss)="cerrarModal()"
                >
                  <ng-template>
                    <ion-content class="ion-padding center-content">
                      <div class="ion-margin-top" style="text-align: center; color: red;">
                        <ion-label>{{ mensajeModal }}</ion-label>
                      </div>
                    </ion-content>
                  </ng-template>
                </ion-modal>

                <p style="color: black">* Recibirás un correo con un número PIN que tendrás que poner</p>
              </ng-container>

              <ng-template #confirmForm>
                <ng-container *ngIf="Confirmado; else changePasswordForm">
                  <!-- Confirmar tu cuenta -->
                  <div class="form-group">
                    <ion-label position="floating">Hemos enviado un codigo a tu direccion de correo electrónico. <br>Introdúcelo para confirmar tu cuenta</ion-label>
                    <ion-item class="w-100">
                      <ion-input type="number" min="0" max="999999" formControlName="codigo" class="form-control" placeholder="Introduce el código de 6 dígitos" required></ion-input>
                    </ion-item>
                  </div>

                  <ion-button expand="block" type="submit" class="btn btn-dark w-100" (click)="verificarCamposConfirmacion()">Continuar</ion-button>

                  <ion-modal
                    trigger="open-modal"
                    [initialBreakpoint]="0.10"
                    [breakpoints]="[0, 0.25, 0.5, 0.75]"
                    handleBehavior="cycle"
                    [isOpen]="modalAbierto"
                    (didDismiss)="cerrarModal()"
                  >
                    <ng-template>
                      <ion-content class="ion-padding center-content">
                        <div class="ion-margin-top" style="text-align: center; color: red;">
                          <ion-label>{{ mensajeModal }}</ion-label>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>

                  <p style="color: red; text-align: center; cursor: pointer;" (click)="reenviarCodigo()">Volver a enviar código</p>
                </ng-container>

                <ng-template #changePasswordForm>
                  <!-- Cambio de contraseña -->
                  <div class="form-group">
                    <ion-label position="floating">Nueva contraseña:</ion-label>
                    <ion-item class="w-100">
                      <ion-input type="password" formControlName="nuevaContra" class="form-control" placeholder="Introduce tu nueva contraseña" required></ion-input>
                    </ion-item>
                  </div>

                  <div class="form-group">
                    <ion-label position="floating">Repite la nueva contraseña:</ion-label>
                    <ion-item class="w-100">
                      <ion-input type="password" formControlName="repitenuevaContra" class="form-control" placeholder="Repite tu nueva contraseña" required></ion-input>
                    </ion-item>
                  </div>

                  <ion-button expand="block" type="submit" class="btn btn-dark w-100" (click)="verificarContrasenas()">Cambiar la contraseña</ion-button>

                  <ion-modal
                    trigger="open-modal"
                    [initialBreakpoint]="0.10"
                    [breakpoints]="[0, 0.25, 0.5, 0.75]"
                    handleBehavior="cycle"
                    [isOpen]="modalAbierto"
                    (didDismiss)="cerrarModal()"
                  >
                    <ng-template>
                      <ion-content class="ion-padding center-content">
                        <div class="ion-margin-top" style="text-align: center; color: red;">
                          <ion-label>{{ mensajeModal }}</ion-label>
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </ng-template>
              </ng-template>
            </ng-template>
          </ng-template>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
