@media (max-width: 600px) {
  .container {
    width: 100%;
    background: white;
    color: black;
    text-align: center;
  }
  .image-container {
    position: relative;
  }
  .image-container img {
    width: 100%;
    height: 250px; /* Ajusta la altura aquí */
    border-radius: 0;
  }
  .camera-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 40px;
    background: white;
    border-radius: 50%;
    padding: 5px;
  }
  h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
  }
  .profile-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background: white;
    border-radius: 10px;
  }
  .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .profile-camera {
    position: relative;
    left: -15px;
    background: white;
    border-radius: 50%;
    padding: 3px;
  }
  .profile-info {
    flex-grow: 1;
    text-align: left;
    font-family: 'Inter', sans-serif;
  }
  .follow-btn {
    background: #19323C;
    color: white;
    padding: 5px 15px;
    border-radius: 15px;
  }
  .stats-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-family: 'Inter', sans-serif;
  }
  .location, .categories {
    text-align: left;
    padding: 10px;
    padding-right: 5%;
  }

  .location ion-icon, .categories ion-icon {
    font-size: 20px;
  }

  .category {
    background: #007AFF;
    color: white;
    padding: 3px 10px;
    border-radius: 15px;
    margin-left: 5px;
  }

  .more-options {
    font-size: 30px;
  }
}
