ion-content {
  --background: var(--ion-color-primario);
}

*{
  font-family: "Amatic SC", sans-serif;
}

.ban-box {
  background: var(--ion-color-cuarto);
  color: var(--ion-color-cuarto-contrast);
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.ion-height-full {
  height: 100vh; /* Hace que el grid ocupe toda la pantalla */
}
