<ion-content class="ion-padding custom-background" fullscreen="true">
  <ion-grid class="ion-height-full ion-justify-content-center ion-align-items-center">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto">
        <ion-card class="ban-box">
          <ion-card-header>
            <ion-card-title color="terciario" style="font-size: 55px">Usuario Baneado</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p style="font-size: medium; font-family: 'Inter', sans-serif">
              Este usuario fue baneado por incumplir las normas de la aplicación,
              solo será desbaneado cuando un Administrador lo vea conveniente.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
