<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger" aria-label="Close" href="/publicacion">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="font-title-size">Editar perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button color="success" aria-label="Save" href="/publicacion">
        <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="profile-container">
    <ion-avatar class="profile-avatar">
      <img src="https://picsum.photos/500/300?random=1" alt="Foto de perfil" width="500" height="300" />
    </ion-avatar>
    <ion-button fill="clear" color="secundario" class="change-photo label-bold">
      Cambiar foto de perfil
    </ion-button>
  </div>

  <ion-list>
    <ion-item>
      <ion-label position="stacked" class="font-inter label-bold label-size">Nombres</ion-label>
      <ion-input placeholder="Roberto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="font-inter label-bold label-size">Apellidos</ion-label>
      <ion-input placeholder="Rojas Quiroga"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="font-inter label-bold label-size">País</ion-label>
      <ion-input placeholder="(opcional)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" class="font-inter label-bold label-size">Biografía</ion-label>
      <ion-textarea placeholder="Diseñador de páginas"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label class="font-inter label-bold ion-text-wrap">
        <strong>Preferencias de categorías:</strong>
      </ion-label>
      <div class="categories">
        <ion-chip color="primario">Juegos</ion-chip>
        <ion-chip color="primario">Entretenimiento</ion-chip>
        <ion-chip color="primario">Películas</ion-chip>
        <ion-chip color="primario">Música</ion-chip>
        <ion-button size="small" color="cuarto" class="add-categories">
          Agregar y/o quitar más
        </ion-button>
      </div>
    </ion-item>
  </ion-list>

  <ion-label class="font-amatic private-info label-bold font-title-size">Información privada</ion-label>
  <ion-list>
    <ion-item>
      <ion-label class="font-inter label-bold">Correo</ion-label>
      <ion-text color="medium" class="text-left-mail ion-padding-horizontal">ejemplo&#64;gmail.com</ion-text>
      <ion-button slot="start" size="small" class="white-text">Cambiar</ion-button>
    </ion-item>
    <ion-item>
      <ion-label class=" font-inter label-bold">Género</ion-label>
      <ion-text class="text-left-gender ion-padding-horizontal" color="medium">Hombre</ion-text>
      <ion-button slot="start" size="small" class="white-text">Cambiar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
