<ion-header>
  <ion-toolbar color="primario">

    <ion-grid style="padding-top: 18px">
      <ion-row>
        <ion-col>
          <ion-icon name="menu-outline" style="padding-top: 20px;" class="medium-icon"></ion-icon>
        </ion-col>
        <ion-col style="padding-left: 50px">
          <ion-img src="/assets/Meetify.svg" style="width: 60px;"></ion-img>
        </ion-col>
        <ion-col>
          <ion-icon name="search-outline" style="padding-top: 20px; float: right" class="medium-icon"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
