<ion-header class="moviles">
  <ion-toolbar color="primario">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-menu-button style="width: 70px" auto-hide="false" class="medium-icon"></ion-menu-button>
        </ion-col>
        <ion-col size="8"  class="logo-image">
          <ion-img src="/assets/Meetify.svg" style="width: 60px; text-align: center"></ion-img>
        </ion-col>
        <ion-col size="2" style="text-align: right;">
          <ion-icon name="search-outline" class="medium-icon" (click)="openBusquedaModal()"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isSearchVisible" style="background-color: #F3F7F0; color: black;">
        <ion-col>
          <ion-input placeholder="Buscar..." [(ngModel)]="searchQuery"></ion-input>
        </ion-col>
        <ion-col>
          <ion-icon name="search-outline" style="padding-top: 20px; float: right" class="medium-icon"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-header class="web">
  <ion-toolbar color="primario">
    <ion-grid>
      <ion-row>
        <!-- Sección izquierda: Menú y logo -->
        <ion-col size="4" class="left-section">
          <ion-menu-button auto-hide="false" class="medium-icon"></ion-menu-button>
          <ion-img src="/assets/Meetify.svg" style="width: 60px" class="logo-image"></ion-img>
          <ion-item class="search-bar">
            <ion-icon name="search-outline" slot="start" (click)="openBusquedaModal()"></ion-icon>
            <ion-input placeholder="Buscar..."></ion-input>
          </ion-item>
        </ion-col>

        <!-- Sección centro: Iconos de navegación -->
        <ion-col size="4" class="center-section">
          <ion-icon name="home-outline" class="medium-icon" color="light" routerLink="/publicacion"></ion-icon>
          <ion-button fill="clear" (click)="abrirModal()">
            <ion-icon name="add-circle-outline" color="light" class="NuevaPubli" ></ion-icon>
          </ion-button>
          <ion-icon name="chatbubble-ellipses-outline" class="medium-icon" color="light" routerLink="/mensajeria"></ion-icon>
        </ion-col>

        <!-- Sección derecha: Búsqueda, notificaciones y perfil -->
        <ion-col size="4" class="right-section">
          <ion-icon name="notifications-outline" class="medium-icon" color="light" routerLink="/notificaciones"></ion-icon>
          <ion-icon name="person-circle-outline" class="medium-icon" color="light" routerLink="/perfil"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-modal class="modal-buscar" #modalBusqueda trigger="open-modal">
  <ng-template>
    <ion-content>
      <ion-toolbar style="--background: #19323C">
        <ion-title style="text-align: center; font-size: 2rem; font-family: Amatic SC, cursive">¿Que quieres buscar?</ion-title>
      </ion-toolbar>

      <div class="modal-div">
        <ion-button class="boton-search"  href="/ver-eventos">Eventos</ion-button>
        <ion-button class="boton-search"  href="/ver-perfiles">Perfiles</ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-menu side="start" menuId="first" contentId="main-content" style="height: 100%;">
  <ion-header>
    <ion-toolbar color="primario">
      <ion-buttons slot="start">
        <ion-img src="/assets/Meetify.svg" style="width: 60px;" class="large-icon"></ion-img>
      </ion-buttons>
      <ion-title class="header-title font-amatic-grande2" style="color: white; margin-left: 20%">MENÚ</ion-title>
      <ion-buttons slot="end">
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="menu-content" style="height: 100%;">
    <div class="menu-items">
      <ion-list *ngIf="vistaActual === 'main'">
        <ion-item *ngFor="let item of menuItems" (click)="navigateTo(item.route)">
          <ion-icon [name]="item.icon" slot="start" class="menu-icon"></ion-icon>
          <ion-label>{{ item.label }}</ion-label>
        </ion-item>
        <ion-item (click)="setVista('config')">
          <ion-icon name="settings-outline" slot="start" class="menu-icon"></ion-icon>
          <ion-label>Mis actividades y configuración</ion-label>
        </ion-item>
      </ion-list>

      <ion-list *ngIf="vistaActual === 'config'">
        <ion-item (click)="setVista('main')">
          <ion-icon name="arrow-back-circle" slot="start" class="menu-icon"></ion-icon>
          <ion-label>Volver</ion-label>
        </ion-item>
        <ion-item *ngFor="let item of menuActivities" (click)="navigateTo(item.route)">
          <ion-icon [name]="item.icon" slot="start" class="menu-icon"></ion-icon>
          <ion-label>{{ item.label }}</ion-label>
        </ion-item>

        <ion-item style="text-align: center">
          <ion-label color="cuarto" (click)="doLogout()">Cerrar Sesion</ion-label>
        </ion-item>
        <ion-item style="text-align: center">
          <ion-label color="cuarto" (click)="openConfirmModal()">Eliminar Cuenta</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-menu>

<!-- Primer Modal: Confirmación de eliminar cuenta -->
<ion-modal #modalConfirm trigger="open-modal">
  <ng-template>
    <ion-content style="--background: #19323C">
      <ion-toolbar>
        <ion-title>Confirmación</ion-title>
      </ion-toolbar>

      <!-- Mensaje de confirmación -->
      <div style="text-align: center; margin-top: 20px; font-size: 38px; font-family: 'Amatic SC', sans-serif; color: white">
        <p>¿Seguro que quieres eliminar tu cuenta?</p>
      </div>

      <!-- Botones "Sí" y "No" -->
      <div style="display: flex; justify-content: center;">
        <ion-button color="danger" (click)="confirmDelete()">Sí</ion-button>
        <ion-button color="medium" (click)="modalConfirm.dismiss()">No</ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- Segundo Modal: Pedir contraseña -->
<ion-modal #modalPassword>
  <ng-template>
    <ion-content style="--background: #19323C">
      <ion-toolbar>
        <ion-title>Confirmar contraseña</ion-title>
      </ion-toolbar>

      <!-- Mensaje de solicitud de contraseña -->
      <div style="text-align: center; margin-top: 20px; font-size: 18px;color: white">
        <p>Por favor, ingresa tu contraseña para confirmar la eliminación.</p>
      </div>

      <!-- Campo de entrada para la contraseña -->
      <ion-item style="border-radius: 10px">
        <ion-input type="password" [(ngModel)]="password" placeholder="Contraseña"></ion-input>
      </ion-item>

      <!-- Botones de acción -->
      <div style="display: flex; justify-content: center; margin-top: 20px;">
        <ion-button color="danger" (click)="borrarCuenta(password)" style="margin-right: 10px;">Eliminar</ion-button>
        <ion-button color="medium" (click)="modalPassword.dismiss()">Cancelar</ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>





<ion-router-outlet id="main-content"></ion-router-outlet>
