<ion-footer>
  <ion-toolbar color="primario">
    <ion-grid style="margin-left: 23px">
      <ion-row>
        <ion-col>
          <ion-icon name="home-outline" class="medium-icon"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon name="chatbubble-ellipses-outline" class="medium-icon"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon name="add-circle-outline" class="medium-icon"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon name="notifications-outline" class="medium-icon"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-icon name="person-outline" class="medium-icon"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
