<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-img src="/assets/icon/4.svg" class="logo-image" slot="start"></ion-img>
    </ion-buttons>
    <ion-title class="header-title" style="text-align: center">
      {{ cambiarTitulo() }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon class="Atras"
                name="arrow-back-circle"
                slot="end"
                (click)="viajarA('admin')"
                *ngIf="vistaActual !== 'admin'">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Vista principal: Panel de administración -->
  <div class="admin-panel" *ngIf="vistaActual === 'admin'">
    <ion-list lines="none">
      <ion-item button (click)="viajarA('users')">
        <ion-icon name="settings-outline" slot="start" class="icon"></ion-icon>
        <ion-label>Revisar perfiles</ion-label>
      </ion-item>
      <ion-item button (click)="viajarA('baneados')">
        <ion-icon name="ban-outline" slot="start" class="icon"></ion-icon>
        <ion-label>Lista de baneos</ion-label>
      </ion-item>
    </ion-list>
    <div class="logout">
      <p>Cerrar Sesión</p>
    </div>
  </div>

  <!-- Vista de usuarios -->
  <div *ngIf="vistaActual === 'users'">
    <ion-list lines="none" *ngFor="let p of perfiles">
      <ion-item>
        <ion-icon name="person-circle-outline" slot="start" class="perfil"></ion-icon>
        <ion-label class="user-label">
          {{ p.nombreUsuario }}
        </ion-label>
        <div class="boton">
          <ion-button fill="solid" color="danger" class="baneo" (click)="banearUsuario(p.correoElectronico)">Banear</ion-button>
          <ion-button fill="solid" class="Ver">Ver</ion-button>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <!-- Vista de baneados -->
  <div *ngIf="vistaActual === 'baneados'">
    <ion-list lines="none" *ngFor="let p of perfiles">
      <ion-item>
        <ion-icon name="person-circle-outline" slot="start" class="perfil"></ion-icon>
        <ion-label class="user-label" >
          {{p.nombreUsuario}} <br />
          <span style="font-size: medium; font-family: 'Amatic SC', sans-serif; color: red;">Falta: 3 días</span>
        </ion-label>
        <div class="boton">
          <ion-button fill="solid" class="Desbanear" (click)="banearUsuario(p.correoElectronico)">Desbanear</ion-button>
          <ion-button fill="solid" class="Ver">Ver</ion-button>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
