.no-margin {
  margin-bottom: 0 !important;
}

ion-toolbar {
  --background: #16353F;
  --color: #fff;
  padding: 1%;
  display: flex;
  align-items: center;
}

ion-padding-icon {
  padding-right: 4px;
}


.perfil-avatar-container {
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
}

.perfil-avatar-large {
  width: 200px; /* Increase the size of the image */
  height: 200px; /* Increase the size of the image */
  border-radius: 50%;
  border: 4px solid var(--ion-color-primario); /* Add border with primary color */
}

.upload-options {
  margin-top: 1rem;
}
ion-icon {
  margin-right: 8px;
}

ion-item {
  --border-radius: 10px;
  display: flex;
  align-items: center;
}

ion-button {
  font-weight: bold;
  border-radius: 20px;
  margin-left: 8px;
}

.ion-radio-group-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ion-card.ion-color-white {
  --background: #ffffff;
}


.no-border-item {
  --border-style: none;
}

.font-amatic {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5rem;
  font-weight: bold;
}
.font-inter {
  font-family: 'Inter', sans-serif;
}

.card-color{
  background: var(--ion-color-secundario);
}

.upload-options ion-button:first-child {
  margin-left: 0;
}


@media (max-width: 600px) {
  .ion-radio-group-horizontal {
    flex-direction: column;
    align-items: flex-start;
  }

  .ion-radio-group-horizontal ion-item {
    width: 100%;
  }
}
