<ion-content class="ion-padding ion-text-center ion-color-terciario">
  <app-cabecera titulo="Cuéntanos más sobre ti!" class="no-margin"></app-cabecera>

  <ion-card class="ion-padding card-color">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" class="ion-text-center">
          <div class="perfil-avatar-container">
            <img *ngIf="imagePreview" [src]="imagePreview" alt="Foto de perfil" class="perfil-avatar-large" />
            <ion-icon *ngIf="!imagePreview" name="person-circle-outline" class="perfil-avatar-large"></ion-icon>
            <div class="upload-options">
              <ion-button  (click)="openFileInput()" class="font-inter" color="cuarto" *ngIf="!showURLInput">
                <ion-icon name="camera-outline"></ion-icon>Subir Archivo</ion-button>
              <ion-button  (click)="toggleURLInput()" class="font-inter" color="cuarto">
                <ion-icon name="link-outline"></ion-icon>Usar URL</ion-button>
              <input type="file" hidden (change)="onFileSelected($event)" #fileInput />
              <ion-item *ngIf="showURLInput">
                <ion-label position="floating" class="font-amatic">URL de la imagen</ion-label>
                <ion-input [(ngModel)]="imageURL" (ionChange)="updateImagePreview()" class="font-inter"></ion-input>
              </ion-item>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-card class="ion-padding ion-color-white">
            <ion-item>
              <ion-icon name="globe-outline" slot="start"></ion-icon>
              <ion-label position="floating" class="font-amatic">País</ion-label>
              <ion-input [(ngModel)]="pais" class="font-inter"></ion-input>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-card class="ion-padding ion-color-white">
            <ion-item>
              <ion-icon name="transgender-outline" slot="start"></ion-icon>
              <ion-label class="font-amatic no-border">Género:</ion-label>
              <ion-radio-group [(ngModel)]="genero" class="ion-radio-group-horizontal">
                <ion-item class="no-border-item">
                  <ion-label class="font-amatic">Hombre</ion-label>
                  <ion-radio slot="start" value="Hombre"></ion-radio>
                </ion-item>
                <ion-item class="no-border-item">
                  <ion-label class="font-amatic">Mujer</ion-label>
                  <ion-radio slot="start" value="Mujer"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-card class="ion-padding ion-color-white">
            <ion-item>
              <ion-icon name="create-outline" slot="start"></ion-icon>
              <ion-label position="floating" class="font-amatic">Introduce tu biografía</ion-label>
              <ion-textarea [(ngModel)]="biografia" class="font-inter" auto-grow="true"></ion-textarea>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-margin-top">
        <ion-col size="auto">
          <ion-button expand="block" class="font-inter" href="/publicacion" color="primario">Rellenar Después</ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button expand="block" (click)="guardarDatosBiograficos()" class="ion-color-primario font-inter" color="primario">Finalizar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
