<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenido a Meetify</title>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@latest/dist/ionic/ionic.esm.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core@latest/css/ionic.bundle.css" />
</head>
<body>
<ion-app>
  <ion-content>
    <div class="container">
      <div class="background"></div>
      <h1 class="title">Bienvenido a Meetify</h1>
      <div class="image-container">
        <img src="assets/icon/2.svg" alt="Mundo con círculos" class="world">
      </div>
      <p class="subtitle">Esperamos que puedas conocer a nuevas personas mientras te diviertes en los diferentes eventos que te apuntes. <strong>¡Mucha suerte!</strong></p>
      <ion-button expand="circle" color="dark" href="#">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-content>
</ion-app>
</body>
</html>
