@media (max-width: 600px) {

  ion-header ion-toolbar {
    --background: #16353F;
    --color: #fff;
    padding: 5%;
    display: flex;
    align-items: center;
  }

  .header-title {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 3rem;
    color: white;
    text-align: center;
  }

  .modalToolbar {
    background-color: white;
    --color: white;
    width: 100%;
    height: 100%;
  }

  ion-modal ion-toolbar {
    background-color: #FFFFFF;
    --background: #FFFFFF;
    --color: #000000; /* Adjust text color if necessary */
  }

  ion-modal .Perfil-imagen {
    width: 100%;
    height: 100%;
  }

  .logo-image {
    width: 25%;
    height: 25%;
    margin-left: 10px;
  }

  ion-searchbar {
    --background: #F5F5F5;
    border-radius: 10px;
  }

  ion-toolbar ion-icon {
    font-size: 3em;
  }

  #ModalIcon {
    font-size: 3em;
  }

  #ModalIcon2 {
    font-size: 3em;
  }

  #ModalIcon3 {
    font-size: 3em;
  }

  .circuloPersona {
    font-size: 1.5em;
    background-color: #5497A7;
    border-radius: 50%;
    padding: 15%;
  }

  ion-item {
    --background: #F5F5F5;
    margin: 5px 0;
    border-radius: 10px;
  }

  ion-modal ion-label {
    margin-left: 2%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  ion-modal ion-label h2 {
    font-weight: bold;
    text-align: start;
    align-self: flex-start;
  }

  ion-modal ion-label p {
    color: gray;
    font-size: 0.8em;
    text-align: start;
    align-self: flex-start;
  }

  ion-modal ion-toolbar ion-icon {
    font-size: 2em;
    padding: 2%;
  }

  ion-modal ion-footer {
    background-color: #FFFFFF;
  }

  .chat-container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #f5f7f6;
    font-family: 'Inter', sans-serif;
    height: 100%;
    box-sizing: border-box;
  }

  .date-label {
    font-weight: bold;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    color: #000000;
    margin: 16px 0 8px;
  }

  .message {
    max-width: 70%;
    padding: 10px 16px;
    border-radius: 12px;
    margin: 8px 0;
    font-size: 14px;
    line-height: 1.4;
    color: white;
    word-wrap: break-word;
  }

  .message-sent {
    align-self: flex-end;
    background-color: #5497A7;
  }

  .message-received {
    align-self: flex-start;
    background-color: #19323C;
  }

  .message-time {
    font-size: 0.8rem;
    color: var(--ion-color-tercero);
    text-align: right;
    display: block;
    margin-top: 5px;
  }
}
