p {
  margin: 5px 0;
}

*{
  font-family: 'Inter';
}


.icon-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.medium-icon {
  margin-right: 8px; /* Espacio entre el icono y el texto */
}
