@media (max-width: 600px) {

  ion-header ion-toolbar {
    --background: #16353F;
    --color: #fff;
    padding: 5%;
    display: flex;
    align-items: center;
  }

  ion-modal ion-toolbar {
    background-color: #FFFFFF;
    --background: #FFFFFF;
    --color: #000000;
  }

  .logo-image {
    width: 25%;
    height: 25%;
    margin-left: 60%;
  }

  ion-toolbar ion-icon {
    font-size: 3em;
  }

  .event-card {
    background: #f8f8f8;
    border-radius: 10px;
    padding: 15px;
  }
  .image-placeholder {
    height: 150px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  .image-icon {
    font-size: 50px;
    color: #555;
  }
  .event-title {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    text-align: left;
    color: white;
  }

  .creator {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    text-align: left;
  }

  .creator-text {
    text-align: left;
    font-size: 25px;
    font-family: 'Amatic SC', cursive;
  }

  .description-container {
    background: #3fa6c6;
    padding: 10px;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
    text-align: left;
  }

  .description-title {
    font-weight: bold;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
  }

  .desc-text {
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
  }

  .info-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    text-align: left;
  }

  .info-title {
    font-weight: bold;
    text-align: left;
    font-size: 25px;
    font-family: 'Amatic SC', cursive;
  }

  .info-text {
    font-size: 14px;
    text-align: left;
  }

  .info-icon {
    font-size: 18px;
    text-align: left;
  }

  .category-chip {
    font-size: 14px;
    text-align: left;
  }

  .join-button {
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    margin-left: 31%;
    margin-top: 10%;
    width: 150px;
    background-color: #19323C;
  }
}
