<app-cabecera [titulo]="'Amigos'" [ruta]="'/publicacion'"></app-cabecera>
<ion-content>
  <ion-list>
    <ion-item lines="none" *ngFor="let amigo of amigos" id="open-modal" (click)="entrarPerfil(amigo.id)">
      <ion-avatar slot="start">
        <img [src]="amigo.imagenUrlPerfil" class="circuloPersona" alt="img-user"/>
      </ion-avatar>
      <ion-label>
        <h2>{{ amigo.nombre }}</h2>
      </ion-label>
      <ion-icon name="chatbubbles-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
