<app-cabecera ruta="/publicacion" titulo="Compartidos"></app-cabecera>

<ion-content>
  <ion-grid *ngIf="publicaciones.length > 0;">
    <ion-card *ngFor="let p of publicaciones">
      <ion-fab style="position: absolute; top: 5px; right: 5px;">
        <ion-fab-button color="terciario" size="small" class="clear-fab">
          <ion-icon name="ellipsis-vertical-outline" id="Elipsis"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="bottom" style="left: -10px;">
          <ion-text class="report-text">Reportar</ion-text>
        </ion-fab-list>
      </ion-fab>

      <ion-grid style="float: left">
        <ion-row>
          <ion-col>
            <ng-container *ngIf="p.imagenUrlPerfil; else defaultIcon" >
              <img [src]="p.imagenUrlPerfil" alt="Profile Image" class="circular-image" style="margin-top: 5px" (click)="entrarPerfil(p.id)"/>
            </ng-container>
            <ng-template #defaultIcon>
              <ion-icon name="person-circle-outline" style="margin-top: 5px" size="large" (click)="entrarPerfil(p.id)"></ion-icon>
            </ng-template>
          </ion-col>
          <ion-row class="centered-text">
            <p class="nombre-perfil"><i>{{p.nombrePerfil}}</i></p>
            <p class="categoria"><i>{{p.categoria}}</i></p>
          </ion-row>
        </ion-row>
      </ion-grid>

      <img alt="Imagen" [src]="p.imagenUrlPub ? p.imagenUrlPub : 'https://ionicframework.com/docs/img/demos/card-media.png'" class="ImagenPub"/>
      <ion-title class="titulo" color="primario"><i>{{p.titulo}}</i></ion-title>
      <ion-card-content class="descripcion"><i>{{p.descripcion}}</i></ion-card-content>
      <ion-text>
        <ion-icon name="calendar-outline" class="icono"></ion-icon><i class="fecha"> Inicio: {{ p.fechaIni | date:'yyyy-MM-dd' }}</i> <ion-icon name="calendar-outline" class="icono" style="margin-left: 10px"></ion-icon><i class="fecha"> Fin: {{ p.fechaFin | date:'yyyy-MM-dd' }}</i>
      </ion-text>
      <ion-text>
        <ion-icon name="golf-outline" class="icono"></ion-icon><i class="fecha">{{p.ubicacion}}</i>
      </ion-text>

      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <div class="icon-text-container">
              <ion-button fill="clear" class="font-amatic-grande">
                <ion-button fill="clear" class="font-amatic-grande" (click)="puntuarEvento(p)">
                  <ion-icon name="ribbon-outline" class="medium-icon" color="primario"></ion-icon>
                  Puntuar
                </ion-button>
              </ion-button>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="icon-text-container">
              <ion-button fill="clear" class="font-amatic-grande">
                <ion-button fill="clear" class="font-amatic-grande" (click)="unirseEvento(p)">
                  <ion-icon name="people-circle-outline" class="medium-icon" color="primario"></ion-icon>
                  Unirse
                </ion-button>
              </ion-button>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="icon-text-container">
              <ion-button fill="clear" class="font-amatic-grande">
                <ion-button fill="clear" class="font-amatic-grande" (click)="compartirPublicacion(p.id)">
                  <ion-icon name="share-social-outline" class="medium-icon" color="primario"></ion-icon>
                  Compartir
                </ion-button>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-grid>

</ion-content>
