@media (max-width: 600px) {

  ion-toolbar {
    --background: #16353F;
    --color: #fff;
    display: flex;
    align-items: center;
  }

  ion-toolbar ion-title {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
  }

  * {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
  }

  ion-toolbar ion-img {
  }

  .logo-image {
    width: 100%;
    height: 100%;
    margin-top: -2%;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .selected {
    filter: brightness(0.7);
  }

  .category-1 {
    --background: #0F252D; /* Azul petróleo oscuro */
    font-size: 1.2rem;
  }

  .category-2 {
    --background: #3E6E7C; /* Azul acero apagado */
    font-size: 1.2rem;
  }

  .category-3 {
    --background: #19323C; /* Azul grisáceo profundo */
    font-size: 1.2rem;
  }

  .category-4 {
    --background: #5497A7; /* Azul océano oscuro */
    font-size: 1.2rem;
  }

  .category-5 {
    --background: #2A4A54; /* Verde azulado profundo */
    font-size: 1.2rem;
  }

  .category-6 {
    --background: #6C8C99; /* Cian grisáceo */
    font-size: 1.2rem;
  }

  .category-7 {
    --background: #0F252D; /* Azul petróleo oscuro */
    font-size: 1.2rem;
  }

  .category-8 {
    --background: #3E6E7C; /* Azul acero apagado */
    font-size: 1.2rem;
  }

  .category-9 {
    --background: #19323C; /* Azul grisáceo profundo */
    font-size: 1.2rem;
  }

  .category-10 {
    --background: #5497A7; /* Azul océano oscuro */
    font-size: 1.2rem;
  }

  .category-11 {
    --background: #2A4A54; /* Verde azulado profundo */
    font-size: 1.2rem;
  }

  .category-12 {
    --background: #6C8C99; /* Cian grisáceo */
    font-size: 1.2rem;
  }

  .category-13 {
    --background: #102026; /* Gris azulado oscuro */
    font-size: 1.2rem;
  }

  .category-14 {
    --background: #3E6E7C; /* Azul acero apagado */
    font-size: 1.2rem;
  }

  .size-text {
    font-size: 2rem;
  }

  .background {
    --background: var(--ion-color-negro);
    --color: white;
    font-size: 1.5rem;
    width: 40%;
    margin-top: 10%;
  }

  .toast .toast-message {
    font-family: 'Inter', sans-serif;
    color: white;
  }
}

@media (min-width: 600px) {

  ion-toolbar {
    --background: #16353F;
    --color: #fff;
    display: flex;
    align-items: center;
  }

  ion-toolbar ion-title {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 3rem;
    color: white;
  }

  * {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
  }

  ion-toolbar ion-img {
  }

  .logo-image {
    width: 15%;
    height: 15%;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .selected {
    filter: brightness(0.7);
  }

  .category-1 {
    --background: #0F252D; /* Azul petróleo oscuro */
    font-size: 1.75rem;
  }

  .category-2 {
    --background: #3E6E7C; /* Azul acero apagado */
    font-size: 1.75rem;
  }

  .category-3 {
    --background: #19323C; /* Azul grisáceo profundo */
    font-size: 1.75rem;
  }

  .category-4 {
    --background: #5497A7; /* Azul océano oscuro */
    font-size: 1.75rem;
  }

  .category-5 {
    --background: #2A4A54; /* Verde azulado profundo */
    font-size: 1.75rem;
  }

  .category-6 {
    --background: #6C8C99; /* Cian grisáceo */
    font-size: 1.75rem;
  }

  .category-7 {
    --background: #0F252D; /* Azul petróleo oscuro */
    font-size: 1.75rem;
  }

  .category-8 {
    --background: #3E6E7C; /* Azul acero apagado */
    font-size: 1.75rem;
  }

  .category-9 {
    --background: #19323C; /* Azul grisáceo profundo */
    font-size: 1.75rem;
  }

  .category-10 {
    --background: #5497A7; /* Azul océano oscuro */
    font-size: 1.75rem;
  }

  .category-11 {
    --background: #2A4A54; /* Verde azulado profundo */
    font-size: 1.75rem;
  }

  .category-12 {
    --background: #6C8C99; /* Cian grisáceo */
    font-size: 1.75rem;
  }

  .category-13 {
    --background: #102026; /* Gris azulado oscuro */
    font-size: 1.75rem;
    grid-column: 1 / 3;
    width: 48.5%;
    margin-left: 25%;
  }

  .category-14 {
    --background: #3E6E7C; /* Azul acero apagado */
    font-size: 1.75rem;
    grid-column: 3 / 5;
    width: 48.5%;
    margin-left: 25%;
  }


  .size-text {
    font-size: 3rem;
  }

  .background {
    --background: var(--ion-color-negro);
    --color: white;
    font-size: 2.2rem;
    margin-top: 10%;
  }

  .toast .toast-message {
    font-family: 'Inter', sans-serif;
    color: white;
  }
}

