/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "~bootstrap/dist/css/bootstrap.min.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import '@ionic/angular/css/palettes/dark.system.css'; */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


ion-content{
  --keyboard-offset: none !important;
}

:root {
  --ion-color-primario: #19323C;
  --ion-color-primario-rgb: 25,50,60;
  --ion-color-primario-contrast: #ffffff;
  --ion-color-primario-contrast-rgb: 255,255,255;
  --ion-color-primario-shade: #162c35;
  --ion-color-primario-tint: #304750;
}

.ion-color-primario {
  --ion-color-base: var(--ion-color-primario);
  --ion-color-base-rgb: var(--ion-color-primario-rgb);
  --ion-color-contrast: var(--ion-color-primario-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primario-contrast-rgb);
  --ion-color-shade: var(--ion-color-primario-shade);
  --ion-color-tint: var(--ion-color-primario-tint);
}

:root {
  --ion-color-secundario: #5497A7;
  --ion-color-secundario-rgb: 84,151,167;
  --ion-color-secundario-contrast: #000000;
  --ion-color-secundario-contrast-rgb: 0,0,0;
  --ion-color-secundario-shade: #4a8593;
  --ion-color-secundario-tint: #65a1b0;
}

.ion-color-secundario {
  --ion-color-base: var(--ion-color-secundario);
  --ion-color-base-rgb: var(--ion-color-secundario-rgb);
  --ion-color-contrast: var(--ion-color-secundario-contrast);
  --ion-color-contrast-rgb: var(--ion-color-secundario-contrast-rgb);
  --ion-color-shade: var(--ion-color-secundario-shade);
  --ion-color-tint: var(--ion-color-secundario-tint);
}

:root {
  --ion-color-terciario: #F3F7F0;
  --ion-color-terciario-rgb: 243,247,240;
  --ion-color-terciario-contrast: #000000;
  --ion-color-terciario-contrast-rgb: 0,0,0;
  --ion-color-terciario-shade: #d6d9d3;
  --ion-color-terciario-tint: #f4f8f2;
}

.ion-color-terciario {
  --ion-color-base: var(--ion-color-terciario);
  --ion-color-base-rgb: var(--ion-color-terciario-rgb);
  --ion-color-contrast: var(--ion-color-terciario-contrast);
  --ion-color-contrast-rgb: var(--ion-color-terciario-contrast-rgb);
  --ion-color-shade: var(--ion-color-terciario-shade);
  --ion-color-tint: var(--ion-color-terciario-tint);
}

:root {
  --ion-color-cuarto: #A93F55;
  --ion-color-cuarto-rgb: 169,63,85;
  --ion-color-cuarto-contrast: #ffffff;
  --ion-color-cuarto-contrast-rgb: 255,255,255;
  --ion-color-cuarto-shade: #95374b;
  --ion-color-cuarto-tint: #b25266;
}

.ion-color-cuarto {
  --ion-color-base: var(--ion-color-cuarto);
  --ion-color-base-rgb: var(--ion-color-cuarto-rgb);
  --ion-color-contrast: var(--ion-color-cuarto-contrast);
  --ion-color-contrast-rgb: var(--ion-color-cuarto-contrast-rgb);
  --ion-color-shade: var(--ion-color-cuarto-shade);
  --ion-color-tint: var(--ion-color-cuarto-tint);
}

:root {
  --ion-color-negro: #000000;
  --ion-color-negro-rgb: 0,0,0;
  --ion-color-negro-contrast: #ffffff;
  --ion-color-negro-contrast-rgb: 255,255,255;
  --ion-color-negro-shade: #0D0D0D; /* Negro ligeramente aclarado */
  --ion-color-negro-tint: #1A1A1A; /* Negro con un leve tinte gris */
}

.ion-color-negro {
  --ion-color-base: var(--ion-color-negro);
  --ion-color-base-rgb: var(--ion-color-negro-rgb);
  --ion-color-contrast: var(--ion-color-negro-contrast);
  --ion-color-contrast-rgb: var(--ion-color-negro-contrast-rgb);
  --ion-color-shade: var(--ion-color-negro-shade);
  --ion-color-tint: var(--ion-color-negro-tint);
}

.custom-toast {
  margin-top: 20%;
}

.medium-icon{
  width: 25px;
  height: 25px;
}
.large-icon{
  width: 40px;
  height: 40px;
}




.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-amatic {
  font-family: 'Amatic SC', cursive;
}


.font-amatic-grande {
  font-family: 'Amatic SC', cursive;
  font-size: large;
  color: #3F484B;
  font-weight: bold;
}

.font-amatic-grande2 {
  font-family: 'Amatic SC', cursive;
  font-size: xx-large;
  color: #3F484B;
  font-weight: bold;
}


.perfil-avatar {
  width: 120px;
  height: 120px;
  border: 4px solid var(--ion-color-primario);
  border-radius: 50%;
  margin-bottom: 10px;
}
